.navigasi {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.home-slider {
    margin-top: 3.9rem;
}

/* Matic */

.home-sport .container h3 {
    margin-top: 6rem;
    font-size: 2.4rem;
}

.home-sport .container .card {
    border: 2px solid white;
    border-radius: 1rem;
    margin: auto;
    transition: .5s;
}

.home-sport .container .card:hover {
    transform: scale(1.03);
    border-color: red;
}

.home-sport .container .card .card-title {
    font-size: 1.7rem;
}

.home-sport .container .card .hargamulai {
    font-size: 1.2rem;
}

.home-sport .container .card .harga {
    font-size: 1.4rem;
    font-weight: bold;
}

.home-sport .container .btn:hover {
    background-color: white;
    color: red;
}

/* End Matic */

@media (max-width: 768px) {
    html {
        font-size: 63%;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 58%;
    }

    .home-youtube .carousel-inner iframe {
        height: 22rem;
    }
}